<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Two‑Player Cards</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@2/modern-normalize.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    {% block body %}{% endblock %}

    <script>
      window.CSFR_TOKEN = "{{ session.get('_csrf_token', '') }}";
    </script>
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
  </body>
</html>
